background-color:pink;
listbox-background-color:white;
font-family:Arial;
font-size:14;
lbl-font-size:18;
entry-font-size:18;
foreground:black;
btn-size:30;
btn-font-size:18;
color:#000000;
icon-image:media/libro-magico.png;
kitty1-image:media/icons8-hello-kitty-48.png;
kitty2-image:media/icons8-hello-kitty-50.png;
kitty3-image:media/icons8-gatito-50.png;
kitty4-image:media/icons8-hello-kitty-40.png;
kitty5-image:media/icons8-mi-melodia-48.png;
